<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h1>Details</h1>
    <p>Posted by: <%=  user%></p>
    <p>Posted on: <%=  date%></p>
    <p>Message: <%= message%></p>
    <a href="/">Back to Board</a>
</body>
</html>