<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
</head>
<body>
    <h1>ADD NEW message</h1>
    <form method="POST" action="/new">
        <input type="text" placeholder="Author's Name" name="author" required />
        <input type="text" placeholder="Message" name="message" required />
        <button type="submit">Submit Form</button>
    </form>
</body>
</html>